{% extends "./base.html" %}
{% block title %}Главная страница{% endblock %}
{% block context %}
    {% for question in questions %}
        <div class="card mb-3">
            <div class="card-header">
                Вопрос
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.text }}</p>
                <a href="{{ question.get_url }}" class="btn btn-primary">Подробнее</a>
            </div>
            <div class="card-footer text-muted">
                {{ question.added_at|date:"Y-m-d H:i" }}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
{% block pagination %}

{% endblock %}