{% extends "base.html" %}
{% block title %}
{{ question_details.title }} :: {{ block.super }}
{% endblock %}
{% block context %}
<div class="card mb-3">
    <div class="card-header">
        Вопрос
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ question_details.title }}</h5>
        <p class="card-text">{{ question_details.text }}</p>
        {% for answer in answers %}
        <p>{{ answer.author }} ответил {{ answer.added_at|date:"Y-m-d H:i" }}</p>
        <p>{{ answer.text }}</p>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}