{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

</head>
<body>
{% include 'inc/_nav.html' %}
{% block header %}{% endblock %}
{% block context %}
<div class="container">
    <h1 class="my-3">{% block title %}{% endblock %}</h1>
    <div class="row">
        {% for question in questions %}
        <div class="col-md-4">
            <div class="card mb-2 shadow-sm">
                <div class="card-header">
                    Вопрос № {{ question.pk }} от {{ question.author }}:
                </div>
                <img src="{{ question.image.url }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <a href="{% url 'question' question.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                    <p>Вопрос был задан {{ question.added_at|date:"Y-m-d H:i" }}</p>
                    Рейтинг вопроса: {{ question.rating }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block pagination %}{% endblock %}

</body>
</html>